body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.list-group {
    height: 100vh;
}

.list-group-item {
    border: none;
    border-radius: 0;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}
